<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/app/app.js"></script>

    <!--factory/services-->
    <script src="Scripts/app/services/userFactory.js"></script>

    <!--controllers-->
    <script src="Scripts/app/controllers/userController.js"></script>
</head>
<body>
    <div data-ng-app="userApp">
        <div data-ng-controller="userController">
            <p><a data-ng-click="showadd()" href="javascript:;" class="btn btn-primary">Add New User</a></p>
            <div class="modal fade" id="userModel" tabindex="-1" role="dialog" aria-hidden="true" data-ng-show="viewPopup">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">X</button>
                            <h4 class="modal-title" id="myModalLabel" data-ng-hide="editMode">Add User</h4>
                            <h4 class="modal-title" id="H1" data-ng-show="editMode">Edit User</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="adduserform">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.Name" class="form-control" id="title" placeholder="Your Name" required="required" title="Enter your name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.Address" class="form-control" id="Text1" placeholder="Your Address" required="required" title="Enter your address" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">ContactNo</label>
                                    <div class="col-sm-10">
                                        <input type="text" data-ng-model="user.ContactNo" class="form-control" id="Text2" placeholder="Your ContactNo" required="required" title="Enter your contactno" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span data-ng-hide="editMode">
                                            <input type="submit" value="Add" data-ng-disabled="adduserform.$invalid" data-ng-click="add()" class="btn btn-primary" />
                                        </span>
                                        <span data-ng-show="editMode">
                                            <input type="submit" value="Update" data-ng-disabled="adduserform.$invalid" data-ng-click="update()" class="btn btn-primary" />
                                        </span>
                                        <input type="button" value="Cancel" data-ng-click="cancel()" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true" data-ng-show="detailPopup">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="cancel()">X</button>
                            <h4 class="modal-title" id="H2">View User</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="viewuser">
                                <div class="form-group">
                                    <label for="Name" class="col-sm-2 control-label">Name:</label>
                                  
                                        {{user.Name}}
                                    
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">Address:</label>
                                   
                                        {{user.Address}}
                                   
                                </div>
                                <div class="form-group">
                                    <label for="ContactNo" class="col-sm-2 control-label">ContactNo:</label>
                                   
                                        {{user.ContactNo}}
                                    
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="cancel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <h1>Users List</h1>
            <table class="table table-hover">
                <tr>
                    <th>User ID</th>
                    <td>Name</td>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th></th>
                </tr>

                <tr data-ng-repeat="user in users">
                    <td><strong>{{ user.UserId }}</strong></td>
                    <td>
                        <p>{{ user.Name }}</p>

                    </td>
                    <td>
                        <p>{{ user.Address }}</p>

                    </td>
                    <td>
                        <p>{{ user.ContactNo }}</p>

                    </td>
                    <td>
                        <p>
                            <a data-ng-click="get(user)" href="javascript:;">View</a> |
                            <a data-ng-click="edit(user)" href="javascript:;">Edit</a> |
                            <a data-ng-click="showconfirm(user)" href="javascript:;">Delete</a>
                        </p>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
